.toggleHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  font-weight: 600;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg); /* ▶ → ▼ */
}

.couponList {
  margin-top: 10px;
  padding-left: 20px;
  list-style: disc;
  color: #444;
  animation: fadeIn 0.3s ease;
  list-style-type: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
